h1 {
    font-size: 150%;
    font-weight: normal;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid_main, .inner_grid_main {
    display: flex;

    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

    /* Debugging */
    /*border: 1px solid red;*/
}

.inner_grid_main, .grid_row, .top_grid_row, .warning_message {
    border-top: 1px solid black;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
}

.grid_row, .top_grid_row, .inner_grid_row, .warning_message {
    display: flex;

    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;

    /* Debugging */
    /*border: 1px solid green;*/
}

.top_grid_row {
    border-top: none;
}

.inner_grid_row {
    border: none;
    padding: 2px 0;
}

.grid_item {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.warning_message {
    font-size: 100%;
    color: red;
    font-weight: bold;

    border: 1px solid red;
}